/* Footer */
.footer {
    text-align: center;
    background-color: $footer-bg;
    color: $nav-color;
    padding: 20px;

    a {
        color: $nav-color;
        margin: 0 10px;
        font-size: 1.5rem;

        &:hover {
            color: $hover-color;
        }
    }

h4 {
    margin: 10px 0;
    font-size: 1rem;

    a {
        color: $nav-color;
        margin: 0 10px;

        &:hover {
            color: $hover-color;
            }
        }
    }

    .tel {
        font-size: 1rem;
    }
}