
/* Responsives */
@media (max-width: 480px) {
    .header-sticky-top .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    }
    
    .header-sticky-top .navbar .titulo h1 {
        font-size: 1.8rem;
        padding-left: 0;
    }
}
  
    @media (max-width: 480px) {
    .header-sticky-top .navbar .ul {
        list-style: none;
        margin: 0;
        
    }

    .header-sticky-top .navbar .ul .li a {
        width: 100%;
        text-align: left;
        padding: o;
    }
}

    main {

        .seccion-diseño .diseño-contenedor,
        .seccion-habilidades .habilidades-contenedor {
            flex-direction: column;
            width: 100%;
        }
    }

    /* planeadores*/
  /* Responsive */
@media (max-width: 768px) {
    main .aeronautica h2 {
      font-size: 1.5rem;
    }
  
    main .aeronautica .grid-container {
      grid-template-columns: 1fr; 
      gap: 10px; 
    }
  
    main .aeronautica .grid-item {
      border-radius: 5px; 
    }
  }
  
  @media (max-width: 480px) {
    main .aeronautica {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 200px;
    max-width: 900px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
    }
  
    main .aeronautica .grid-container {
      padding: 5px; 
    }
  
    main .aeronautica .grid-item {
      box-shadow: none; 
      transform: none; 
    }
  

  
  