/* Variables */
$primary-color: #080808;
$secondary-color: #4c4e4e;
$text-color: #050505;
$hover-color: hwb(54 0% 0%);
$footer-bg: #111111;
$nav-color: white;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    color: $text-color;
    background-image: url(../img/imagenbody.jpg);
}