/*DECLARACION DE VARIABLES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* BODY */
  body {
    background-image: url(../img/imagenbody.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Roboto Condensed", sans-serif;
  }
  