@import "reset";
@import "header";
@import "main";
@import "footer";
@import "querries";

























/* Sección Diseño*/
.seccion-diseño {
    background-color: none;
    text-align: center;
    padding: 4rem;
}